# Node modules (les dépendances du projet)
node_modules/

# Fichiers de log
npm-debug.log
yarn-debug.log
yarn-error.log

# Fichiers générés par les tests (rapports, captures d'écran, vidéos)
testcafe-reports/
testcafe-screenshots/
testcafe-videos/

# Répertoires d'IDE (Visual Studio Code, etc.)
.vscode/
.idea/

# Système de fichiers macOS
.DS_Store

# Système de fichiers Windows
Thumbs.db

# Fichiers de configuration locaux
.env

# Fichiers générés par la commande `npm install` (ex : package-lock.json ou yarn.lock)
package-lock.json
yarn.lock
